.App {
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.App-header {
  height: 80px;
  padding: 10px;
}

.App-title {
  font: 4em 'Indie Flower', cursive;
}


@media (max-width: 600px) {
  .App-title {
    font-size: 3em;
  }
}

@media (max-width: 450px) {
  .App-title {
    font-size: 2.5em;
  }
} 

.App-notice {
  font: 300 1em 'Roboto';
  color: rgba(22, 22, 22, .5);
}