.card {
  border: 1px solid;
  border-radius: 20px;
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 0 3px;
}

@media (max-width: 600px) {
  .card {
    width: 17vw !important;
    height: 17vw !important;
    margin: 0 .5vw !important;
  }
}

.card-unselected {
  border-color: rgba(22, 22, 22, .2);
}

.card-selected {
  border-color: rgba(22, 22, 22, .9);
}

.card-guess-true {
  border-color: rgb(52, 241, 98);
}

.card-guess-false {
  border-color: red;
}

.card-flex {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-joker {
  width: 60px;
  height: auto;
  animation: Joker-spin 2.5s infinite;
}

@keyframes Joker-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}