.ShuffleAlert {
  position: fixed;
  top: 45vh;
  height: 10vh;
  padding: 10px;
  background: #fff;
  border: 1px solid rgba(22, 22, 22, .5);
  border-radius: 5px;
  box-shadow: 5px 5px 2px 0 rgba(22, 22, 22, .4);
  animation: appear ease 1s;
}

.ShuffleAlert h3 {
  font: 2.5em 'Indie Flower', cursive;
}


@keyframes appear {
  from { opacity: 0.01 }
  to { opacity: 1 }
}