.card {
  border: 1px solid;
  border-radius: 20px;
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 0 3px;
}

.card-unselected {
  border-color: rgba(22, 22, 22, .2);
}

.card-selected {
  border-color: rgba(22, 22, 22, .9);
}

.card-guess-true {
  border-color: rgba(20, 155, 70, .5);
}

.card-guess-false {
  border-color: red;
}